<div class="row">

  <div class="col-xs-11 col-sm-6 col-md-3 col-lg-4">
    <div class="form-group">
      <label for="board">Select Board...</label>
      <select class="form-control" ng-options='board as board.title for board in boards' ng-model='board' ng-change="setBoard(board)"></select>
    </div>
  </div>

  <div class="col-xs-1 col-sm-6 col-md-3 col-lg-4"></div>

  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
    <a class='btn btn-success btn-block' ng-click="newBoard()" ui-sref='djello.newboard'>
      New Board
    </a>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
    <a class='btn btn-danger btn-block' ng-click='deleteBoard(board)'>
      Delete Board
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1 class="text-center" editable-text="board.title" onaftersave="updateBoard()">{{ board.title }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" ng-repeat="list in board.lists">

    <div class="panel panel-default list">

      <h3 editable-text="list.title">{{ list.title }}</h3>
      <p editable-textarea="list.description">
        {{ list.description }}
      </p>

      <div class="row" ng-repeat="card in list.cards">
        <div class="col-xs-12">

          <div class="panel panel-default card">
            <h4>{{ card.title }}</h4>
            <p>
              {{ card.description }}
            </p>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <a href="" ng-click="createCard(list.id)">Add a card</a>
        </div>
      </div>

    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
    <a href="" ng-if="board" ng-click="createList()">Add a list</a>
  </div>

</div>
