<div class="row">

  <div class="col-xs-11 col-sm-6 col-md-3 col-lg-4">
    <div class="form-group">
      <label for="board">Select Board...</label>
      <select class="form-control" ng-options='board as board.title for board in boards' ng-model='board' ng-change="setBoard(board)"></select>
    </div>
  </div>

  <div class="col-xs-1 col-sm-6 col-md-3 col-lg-4"></div>

  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
    <a class='btn btn-success btn-block' ng-click="newBoard()" ui-sref='djello.newboard'>
      New Board
    </a>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
    <a class='btn btn-danger btn-block' ng-click='deleteBoard(board)'>
      Delete Board
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-centered">
    <h1 class="text-center" editable-text="board.title" onaftersave="updateBoard()">{{ board.title || "Click to add a title..." }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" ng-repeat="list in board.lists | orderBy : '-updated_at'">

    <div class="panel panel-default list">

      <span><h3 editable-text="list.title" onaftersave="updateList(list)">{{ list.title || "Click to add a title..." }}</h3></span>
      <p editable-textarea="list.description" onaftersave="updateList(list)">
        {{ list.description || "Click to add a description..." }}
      </p>

      <a href="" ng-click="deleteList(list)">Delete List</a>

      <div class="row" ng-repeat="card in list.cards | orderBy : '-updated_at'">
        <div class="col-xs-12">

          <div class="panel panel-default card-panel" ng-click="showCardDetails(card, list)">
            <h4>{{ card.title || "Click to add a title..." }}</h4>
            <p>
              {{ card.description || "Click to add a description..." }}
            </p>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <a href="" ng-click="createCard(list.id)">Add a card</a>
        </div>
      </div>

    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
    <a href="" ng-if="board" ng-click="createList()">Add a list</a>
  </div>

</div>

<hr>

<div class="row">
  <div class="col-xs-12">
    <h3 class="text-center">Board Members</h3>
    <div class="row">
      <div ng-repeat="member in board.members" class="col-xs-4 text-center">
        <div class="panel panel-default">
          <p>
            {{ member.username }}
          </p>
          <a href="" ng-click="removeMember(member)">Remove Member</a>
        </div>
      </div>

      <div class="col-xs-4">
        <select class="form-control member-select" ng-options='user as user.username for user in users | memberOK : board.members' ng-model='memberToAdd' ></select>
        <button type="button" ng-click="addMember()" class="btn btn-primary">Add Member</button>
      </div>
    </div>

  </div>
</div>
