<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeCardDetails()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Card Details</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-xs-12 col-centered">
            <h3 editable-text="card.title" onaftersave="updateCard()">
              {{ card.title || "Add title..." }}
            </h3>
            <p editable-textarea="card.description" onaftersave="updateCard()">
              {{ card.description || "Add description..." }}
            </p>
            <a href="" ng-click="deleteCard(list.id)" data-dismiss="modal" aria-label="Close">Mark Completed</a>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-xs-12">
            <h4>Members</h4>
            <div class="member-list">
              <div class="row">
                <div ng-repeat="member in card.members" class="col-xs-4 text-center">
                  <div class="panel panel-default">
                    <p>
                      {{ member.username }}
                    </p>
                    <a href="" ng-click="removeMember(member)">Remove Member</a>
                  </div>
                </div>

                <div class="col-xs-4">

                  <select class="form-control" ng-options='member as member.username for member in board.members | memberOK : card.members' ng-model='memberToAdd'></select>

                  <button type="button" ng-click="addMember()" class="btn btn-primary">Add Member</button>

                </div>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-xs-12">
            <h4>Activities</h4>
            <div class="activity-list">

            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
