.panel {
  padding: 5px;
  margin-bottom: 5px;
}

.list {
  color: #eee;
  background-color: #777;
}

.card {
  color: #111;
  background-color: #eee;
}

h1, h2, h3, h4, h5, h6, p {
  text-align: center;
}
